//
// global-header
// ---------------------------------------------------

// Base
// ---------------------------------------------------


//Vue_app start
#app {
  background: $body-bg;
}

#info-navigation {
  font-size: $font-size-xsmall;
  color:$color-white;
  width: 100%;
  display: block;
  padding: 8px 0 7px 15px;
  background: $color-orange;
}

#global-navigation {
  width: 100%;
  color: $color-gray;
  padding: 20px 0 10px 15px;
  background: $color-white;
  margin-bottom: 8px;
  min-height: 70px;
  @include box-shadow(0 10px 6px -6px #dcdcdc);
  .brand-name {
    font-size: 24.5px;
    display: inline-block;
    font-weight: 500;
    line-height: $headings-line-height;
  }
}

#global-menu-btn {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 25px;
  background: transparent url(../../img/ico_menu.png) center no-repeat;
  float: right;
  visibility: visible; /* we use visible instead of display none bcos display none takes the element completely out of the page and causes things to move around.*/
}
.bar-nav #global-menu-btn {
  margin-top: -24px;
  background: transparent url(../../img/ico_menu-white.png) center no-repeat;
}

#closer{
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.1);
  z-index: 80;
  opacity: 1;
}

  nav {
    position: fixed;
    height: 100%;
    width: 60%;
    top: 0;
    right: 0%;
    background-color: $color-white;
    z-index: 100;
    padding-top: 85px;
    .link {
      font-size: $font-size-base;
      color: #00aeef;
      margin-left: 40px;
      margin-bottom: 35px;
      display: block;
    }

    .select-box{
      margin-bottom: 33px;
      margin-left: 40px;
      width: 135px;
      height: 40px;
      border: 1px solid $color-gray-lighter;
      border-radius: 3px;
      overflow: hidden;
      background: url(../../img/ico_arrow-down.png) right 10px  center no-repeat;
      select {
        font-size: $font-size-base;
        color: $color-gray;
        background: transparent;
        width: 135px;
        padding-left: 17.5px;
        height: 40px;
        -webkit-appearance: none;
        &:focus {
          outline: none;
        }
      }
    }

    ul {
      padding-left: 0;
      list-style-type: none;
      a {
        font-size: $font-size-base;
        color: $color-gray;
        text-decoration: none;
        padding:16px 0 16px 40px;
        display: block;
        &:hover{
          color: $color-orange;
          border-left: 3px solid $color-orange;
          padding-left: 38px;
        }
      }
    }
  }

.bar-nav {
  font-size: 10px;
  color: #fff;
  width: 100%;
  display: block;
  padding: 14px 0 13px 15px;
  background: #f56036;
  min-height: 53px;
  .title {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
  }
}

.slide-fade-enter-active {
transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .5s ease;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(15px);
  opacity: 0;
}
