@charset "UTF-8";

//library
@import '../../lib/variables';
@import '../../lib/mixins';


.total {
  background: $color-white;
  border: 1px solid $color-gray-light;
  margin: 0 5px 10px;
  padding: 0 10px;
}

.total-block {
  clear: both;
  padding: 16px 0;

  &.border-top {
    border-top: 1px solid $color-gray-light;
  }

  .total-title {
    color: $color-gray;
    font-size: 15px;
  }

  .total-quality,
  .total-price {
    float: right;
  }

  .total-quality {
    color: $color-green;
  }

  .total-price {
    color: $color-orange;
    text-transform: uppercase;
  }
}
