@charset "UTF-8";

//library
@import '../../lib/variables';
@import '../../lib/mixins';


.food-category-tag {
  background: $color-gray-light;
  border-radius: 3px;
  color: $color-white;
  font-size: 12.5px;
  font-weight: 400;
  left: 10px;
  padding: 7px 10px;
  position: absolute;
  top: 10px;
  z-index: 10;
}

.app-container {
  .container {
    padding: 0;

    .person-kind-tag {
      background: $color-green;
      border-radius: 3px;
      color: $color-white;
      display: inline-block;
      font-size: 12.5px;
      margin-bottom: 10px;
      padding: 10px 0;
      text-align: center;
      width: 100%;
    }
  }
}

.food-info {
  .food-name {
    color: $color-gray;
    display: inline-block;
    font-size: 18px;
  }

  .food-price {
    color: $color-orange;
    display: inline-block;
    float: right;
    font-size: 15px;
    text-transform: uppercase;
  }
}

.recommend {
  p {
    color: $color-orange;
    margin: 15px 7px;
  }
}

.disable {
  background: $color-light-orange;
}
